.maindiv{
	padding: 5px;
	width:98%
}
.chingsung_display{
	display:none
}
.form_fieldset{
	border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-width: 1px 1px 0 !important;
    padding-bottom: 0 !important;
    border: 1px solid #b5b8c8;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}
.chingsung_fontf{
	 font:11px/16px bold sans-serif
}
.pz_form_ul li {
	 background-color: #fff;
	 text-align: center;
	 float: left;
	 boder:1px
	 width: 250px;
	 margin: 3px;
	 padding: 3px;
	 list-style-type: none;
	 font-family:"Helvetica Neue";
	 font-size:12px;
	 border: 1px dotted white;
 	 border-color: #DDE9F4;
}

.pz_form_button{
	text-align: center;
}

.chingsung_font {
	 word-break: break-all;
	 font-family:"Helvetica Neue";
	 font-size:12px
}

.chingsung_display{
	display:none
}

.chingsung_exclamation{
	background: url("../images/exclamation.png") no-repeat scroll 2px 3px transparent;
	width:20px;
	height:20px
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}

.form_check_input1 {
border: 1px solid red !important;
 }

 .form_check_input {
border: 1px solid red;
 }

 .radiobox{
 width: 95%
 }

 /
element.style {
    display: block;
    left: 115.5px;
    position: absolute;
    top: 153.5px;
    width: 988px;
    z-index: 9021;
}

/* window  */
/* .window {
    background: linear-gradient(to bottom, #D3D3D3 0px, #EEEEEE 20%) repeat-x scroll 0 0 transparent;
} */

@charset "utf-8";
/*reset*/

html, body, p, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
	padding:0;
	margin:0;
}

body {
	background-position:0 -450px;
	font:12px Arial, Lucida, Verdana, Helvetica, SimSun, sans-serif;
	color:#666;
}
img {
	border: none;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.tl {
	text-align:left;
}
.tc {
	text-align:center;
}
.tr {
	text-align:right;
}
.clearfix ul,li,ol{
	padding:0;
	margin:0;
	list-style:none outside none;
	word-spacing:normal;
}
.clearfix{zoom:1;}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	line-height:0;
	clear:both;
	visibility:hidden;
}
.right_wrapper{ background-color:#FFF;padding:10px 10px;}
.right_wrapper h2{font-size:14px; font-weight:bold;}
.red{color: #F00;}
.top_box{height:25px; line-height:25px; border-bottom:1px dotted #cccccc; padding-top:5px; margin-bottom:11px;}
.form_list_box{background:#e8f4f9; border:1px solid #bfd8ea; padding:5px; margin-bottom:10px;}
.form_list2 li{padding-left:100px; margin:5px 0px 5px 10px; line-height:24px;}
.form_list2 .tit{margin-left:-100px; width:120px;display:inline-block; text-align:right ; vertical-align:top; color:#333;}
.form_list2 .tit1{margin-left:-80px;display:inline-block; text-align:right; vertical-align:top; color:#333;}
.form_list2 .txtarea{ height:90px; width:200px;}
.defultbg{background:none repeat scroll 0 0 #e8f4f9;}





/* window color*/
.c1,.c1:hover,.c1>.panel-header{
	color: #fff;
	border-color: #3c8b3c;
	background: #4cae4c;
	background: -webkit-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -moz-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: -o-linear-gradient(top,#4cae4c 0,#449d44 100%);
	background: linear-gradient(to bottom,#4cae4c 0,#449d44 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cae4c,endColorstr=#449d44,GradientType=0);
}
a.c1:hover{
	background: #449d44;
	filter: none;
}
.c1>.panel-body{
	border-color: #3c8b3c;
}
.c1>.dialog-toolbar,.c1>.dialog-button{
	border-left-color: #3c8b3c;
	border-right-color: #3c8b3c;
}
.c1>.dialog-button{
	border-bottom-color: #3c8b3c;
}
.c2,.c2:hover,.c2>.panel-header{
	color: #fff;
	border-color: #5f5f5f;
	background: #747474;
	background: -webkit-linear-gradient(top,#747474 0,#676767 100%);
	background: -moz-linear-gradient(top,#747474 0,#676767 100%);
	background: -o-linear-gradient(top,#747474 0,#676767 100%);
	background: linear-gradient(to bottom,#747474 0,#676767 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#747474,endColorstr=#676767,GradientType=0);
}
a.c2:hover{
	background: #676767;
	filter: none;
}
.c2>.panel-body{
	border-color: #5f5f5f;
}
.c2>.dialog-toolbar,.c2>.dialog-button{
	border-left-color: #5f5f5f;
	border-right-color: #5f5f5f;
}
.c2>.dialog-button{
	border-bottom-color: #5f5f5f;
}
.c3,.c3:hover,.c3>.panel-header{
	color: #333;
	border-color: #ff8080;
	background: #ffb3b3;
	background: -webkit-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: -moz-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: -o-linear-gradient(top,#ffb3b3 0,#ff9999 100%);
	background: linear-gradient(to bottom,#ffb3b3 0,#ff9999 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffb3b3,endColorstr=#ff9999,GradientType=0);
}
a.c3:hover{
	background: #ff9999;
	filter: none;
}
.c3>.panel-body{
	border-color: #ff8080;
}
.c3>.dialog-toolbar,.c3>.dialog-button{
	border-left-color: #ff8080;
	border-right-color: #ff8080;
}
.c3>.dialog-button{
	border-bottom-color: #ff8080;
}
.c4,.c4:hover,.c4>.panel-header{
	color: #333;
	border-color: #52d689;
	background: #b8eecf;
	background: -webkit-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: -moz-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: -o-linear-gradient(top,#b8eecf 0,#a4e9c1 100%);
	background: linear-gradient(to bottom,#b8eecf 0,#a4e9c1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b8eecf,endColorstr=#a4e9c1,GradientType=0);
}
a.c4:hover{
	background: #a4e9c1;
	filter: none;
}
.c4>.panel-body{
	border-color: #52d689;
}
.c4>.dialog-toolbar,.c4>.dialog-button{
	border-left-color: #52d689;
	border-right-color: #52d689;
}
.c4>.dialog-button{
	border-bottom-color: #52d689;
}
.c5,.c5:hover,.c5>.panel-header{
	color: #fff;
	border-color: #b52b27;
	background: #d84f4b;
	background: -webkit-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -moz-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: -o-linear-gradient(top,#d84f4b 0,#c9302c 100%);
	background: linear-gradient(to bottom,#d84f4b 0,#c9302c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d84f4b,endColorstr=#c9302c,GradientType=0);
}
a.c5:hover{
	background: #c9302c;
	filter: none;
}
.c5>.panel-body{
	border-color: #b52b27;
}
.c5>.dialog-toolbar,.c5>.dialog-button{
	border-left-color: #b52b27;
	border-right-color: #b52b27;
}
.c5>.dialog-button{
	border-bottom-color: #b52b27;
}
.c6,.c6:hover,.c6>.panel-header{
	color: #fff;
	border-color: #1f637b;
	background: #2984a4;
	background: -webkit-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: -moz-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: -o-linear-gradient(top,#2984a4 0,#24748f 100%);
	background: linear-gradient(to bottom,#2984a4 0,#24748f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#2984a4,endColorstr=#24748f,GradientType=0);
}
a.c6:hover{
	background: #24748f;
	filter: none;
}

.c6>.dialog-toolbar,.c6>.dialog-button{
	border-left-color: #1f637b;
	border-right-color: #1f637b;
}
.c6>.dialog-button{
	border-bottom-color: #1f637b;
}
.c7,.c7:hover,.c7>.panel-header{
	color: #333;
	border-color: #e68900;
	background: #ffab2e;
	background: -webkit-linear-gradient(top,#ffab2e 0,#ff9900 100%);
	background: -moz-linear-gradient(top,#ffab2e 0,#ff9900 100%);
	background: -o-linear-gradient(top,#ffab2e 0,#ff9900 100%);
	background: linear-gradient(to bottom,#ffab2e 0,#ff9900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffab2e,endColorstr=#ff9900,GradientType=0);
}
a.c7:hover{
	background: #ff9900;
	filter: none;
}
.c7>.panel-body{
	border-color: #e68900;
}
.c7>.dialog-toolbar,.c7>.dialog-button{
	border-left-color: #e68900;
	border-right-color: #e68900;
}
.c7>.dialog-button{
	border-bottom-color: #e68900;
}
.c8,.c8:hover,.c8>.panel-header{
	color: #fff;
	border-color: #4b72a4;
	background: #698cba;
	background: -webkit-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: -moz-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: -o-linear-gradient(top,#698cba 0,#577eb2 100%);
	background: linear-gradient(to bottom,#698cba 0,#577eb2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#698cba,endColorstr=#577eb2,GradientType=0);
}
a.c8:hover{
	background: #577eb2;
	filter: none;
}
.c8>.panel-body{
	border-color: #4b72a4;
}
.c8>.dialog-toolbar,.c8>.dialog-button{
	border-left-color: #4b72a4;
	border-right-color: #4b72a4;
}
.c8>.dialog-button{
	border-bottom-color: #4b72a4;
}
.c1>.panel-header>.panel-title,.c2>.panel-header>.panel-title,
.c5>.panel-header>.panel-title,.c6>.panel-header>.panel-title,.c8>.panel-header>.panel-title{
	color: #fff;
}
.c-plain{
	border-color: #fff;
	background: #fff;
}
.c-plain>.panel-header,
.c-plain>.panel-body,
.c-plain>.dialog-button,
.c-plain>.dialog-toolbar{
	border-color: transparent;
	background: transparent;
}
.c-raised{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}